* {
  box-sizing: border-box;
}

:root {
  min-height: 100vh;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-image: radial-gradient(ellipse at top left, #ffebd8, #ffebd8);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: #df6127;
}
h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:rgb(255, 255, 255);
  
}
.container {
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column; /* Sắp xếp các phần tử theo cột */
  justify-content: center; /* Căn giữa theo chiều dọc */
  align-items: center; /* Căn giữa theo chiều ngang */
  height: 100vh; /* Đặt chiều cao của container bằng chiều cao toàn màn hình */
  text-align: center; /* Căn giữa nội dung bên trong nếu cần */
}

.title {
  font-size: 2em;
  margin-bottom: 20px; /* Khoảng cách giữa tiêu đề và menu */
}

.menu {
  /* Bất kỳ style thêm nào cho menu */
}

/* Điều chỉnh tiêu đề cho App nếu cần */
.title h1 {
  font-size: 2.5em;
  font-weight: bold;
}
